#set($subject = "$device.name: alarm!")
$device.name alarm: #{if}($position.getString("alarm").equals("temperature"))Temperature ($position.attributes.temperature°C)#{else}$position.getString("alarm")#{end} at $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)
